{
  "alt-speed-down": {{ ENV.TRANSMISSION__ALT_SPEED_DOWN | default(50) }},
  "alt-speed-enabled": {{ ENV.TRANSMISSION__ALT_SPEED_ENABLED | default(false) }},
  "alt-speed-time-begin": {{ ENV.TRANSMISSION__ALT_SPEED_TIME_BEGIN | default(540) }},
  "alt-speed-time-day": {{ ENV.TRANSMISSION__ALT_SPEED_TIME_DAY | default(127) }},
  "alt-speed-time-enabled": {{ ENV.TRANSMISSION__ALT_SPEED_TIME_ENABLED | default(false) }},
  "alt-speed-time-end": {{ ENV.TRANSMISSION__ALT_SPEED_TIME_END | default(1020) }},
  "alt-speed-up": {{ ENV.TRANSMISSION__ALT_SPEED_UP | default(50) }},
  "announce-ip": {{ ENV.TRANSMISSION__ANNOUNCE_IP }},
  "announce-ip-enabled": {{ ENV.TRANSMISSION__ANNOUNCE_IP_ENABLED | default(false) }},
  "anti-brute-force-enabled": {{ ENV.TRANSMISSION__ANTI_BRUTE_FORCE_ENABLED | default(false) }},
  "anti-brute-force-threshold": {{ ENV.TRANSMISSION__ANTI_BRUTE_FORCE_THRESHOLD | default(100) }},
  "bind-address-ipv4": {{ ENV.TRANSMISSION__BIND_ADDRESS_IPV4 | default('0.0.0.0') }},
  "bind-address-ipv6": {{ ENV.TRANSMISSION__BIND_ADDRESS_IPV6 | default('::') }},
  "blocklist-enabled": {{ ENV.TRANSMISSION__BLOCKLIST_ENABLED | default(false) }},
  "blocklist-url": {{ ENV.TRANSMISSION__BLOCKLIST_URL }},
  "cache-size-mb": {{ ENV.TRANSMISSION__CACHE_SIZE_MB | default(4) }},
  "default-trackers": {{ ENV.TRANSMISSION__DEFAULT_TRACKERS }},
  "dht-enabled": {{ ENV.TRANSMISSION__DHT_ENABLED | default(true) }},
  "download-dir": {{ ENV.TRANSMISSION__DOWNLOAD_DIR | default('/downloads/complete') }},
  "download-queue-enabled": {{ ENV.TRANSMISSION__DOWNLOAD_QUEUE_ENABLED | default(true) }},
  "download-queue-size": {{ ENV.TRANSMISSION__DOWNLOAD_QUEUE_SIZE | default(5) }},
  "encryption": {{ ENV.TRANSMISSION__ENCRYPTION | default(1) }},
  "idle-seeding-limit": {{ ENV.TRANSMISSION__IDLE_SEEDING_LIMIT | default(30) }},
  "idle-seeding-limit-enabled": {{ ENV.TRANSMISSION__IDLE_SEEDING_LIMIT_ENABLED | default(false) }},
  "incomplete-dir": {{ ENV.TRANSMISSION__INCOMPLETE_DIR | default('/downloads/incomplete') }},
  "incomplete-dir-enabled": {{ ENV.TRANSMISSION__INCOMPLETE_DIR_ENABLED | default(true) }},
  "lpd-enabled": {{ ENV.TRANSMISSION__LPD_ENABLED | default(false) }},
  "message-level": {{ ENV.TRANSMISSION__MESSAGE_LEVEL | default(2) }},
  "peer-congestion-algorithm": {{ ENV.TRANSMISSION__PEER_CONGESTION_ALGORITHM }},
  "peer-id-ttl-hours": {{ ENV.TRANSMISSION__PEER_ID_TTL_HOURS | default(6) }},
  "peer-limit-global": {{ ENV.TRANSMISSION__PEER_LIMIT_GLOBAL | default(200) }},
  "peer-limit-per-torrent": {{ ENV.TRANSMISSION__PEER_LIMIT_PER_TORRENT | default(50) }},
  "peer-port": {{ ENV.TRANSMISSION__PEER_PORT | default(51413) }},
  "peer-port-random-high": {{ ENV.TRANSMISSION__PEER_PORT_RANDOM_HIGH | default(65535) }},
  "peer-port-random-low": {{ ENV.TRANSMISSION__PEER_PORT_RANDOM_LOW | default(49152) }},
  "peer-port-random-on-start": {{ ENV.TRANSMISSION__PEER_PORT_RANDOM_ON_START | default(false) }},
  "peer-socket-tos": {{ ENV.TRANSMISSION__PEER_SOCKET_TOS | default('le') }},
  "pex-enabled": {{ ENV.TRANSMISSION__PEX_ENABLED | default(true) }},
  "port-forwarding-enabled": {{ ENV.TRANSMISSION__PORT_FORWARDING_ENABLED | default(false) }},
  "preallocation": {{ ENV.TRANSMISSION__PREALLOCATION | default(1) }},
  "prefetch-enabled": {{ ENV.TRANSMISSION__PREFETCH_ENABLED | default(true) }},
  "queue-stalled-enabled": {{ ENV.TRANSMISSION__QUEUE_STALLED_ENABLED | default(true) }},
  "queue-stalled-minutes": {{ ENV.TRANSMISSION__QUEUE_STALLED_MINUTES | default(30) }},
  "ratio-limit": {{ ENV.TRANSMISSION__RATIO_LIMIT | default(2) }},
  "ratio-limit-enabled": {{ ENV.TRANSMISSION__RATIO_LIMIT_ENABLED | default(false) }},
  "rename-partial-files": {{ ENV.TRANSMISSION__RENAME_PARTIAL_FILES | default(true) }},
  "rpc-authentication-required": {{ ENV.TRANSMISSION__RPC_AUTHENTICATION_REQUIRED | default(false) }},
  "rpc-bind-address": {{ ENV.TRANSMISSION__RPC_BIND_ADDRESS | default('0.0.0.0') }},
  "rpc-enabled": {{ ENV.TRANSMISSION__RPC_ENABLED | default(true) }},
  "rpc-host-whitelist": {{ ENV.TRANSMISSION__RPC_HOST_WHITELIST }},
  "rpc-host-whitelist-enabled": {{ ENV.TRANSMISSION__RPC_HOST_WHITELIST_ENABLED | default(false) }},
  "rpc-password": {{ ENV.TRANSMISSION__RPC_PASSWORD }},
  "rpc-port": {{ ENV.TRANSMISSION__RPC_PORT | default(9091) }},
  "rpc-socket-mode": {{ ENV.TRANSMISSION__RPC_SOCKET_MODE | default(0750) }},
  "rpc-url": {{ ENV.TRANSMISSION__RPC_URL | default('/transmission/') }},
  "rpc-username": {{ ENV.TRANSMISSION__RPC_USERNAME }},
  "rpc-whitelist": {{ ENV.TRANSMISSION__RPC_WHITELIST }},
  "rpc-whitelist-enabled": {{ ENV.TRANSMISSION__RPC_WHITELIST_ENABLED | default(false) }},
  "scrape-paused-torrents-enabled": {{ ENV.TRANSMISSION__SCRAPE_PAUSED_TORRENTS_ENABLED | default(true) }},
  "script-torrent-added-enabled": {{ ENV.TRANSMISSION__SCRIPT_TORRENT_ADDED_ENABLED | default(false) }},
  "script-torrent-added-filename": {{ ENV.TRANSMISSION__SCRIPT_TORRENT_ADDED_FILENAME }},
  "script-torrent-done-enabled": {{ ENV.TRANSMISSION__SCRIPT_TORRENT_DONE_ENABLED | default(false) }},
  "script-torrent-done-filename": {{ ENV.TRANSMISSION__SCRIPT_TORRENT_DONE_FILENAME }},
  "script-torrent-done-seeding-enabled": {{ ENV.TRANSMISSION__SCRIPT_TORRENT_DONE_SEEDING_ENABLED | default(false) }},
  "script-torrent-done-seeding-filename": {{ ENV.TRANSMISSION__SCRIPT_TORRENT_DONE_SEEDING_FILENAME }},
  "seed-queue-enabled": {{ ENV.TRANSMISSION__SEED_QUEUE_ENABLED | default(false) }},
  "seed-queue-size": {{ ENV.TRANSMISSION__SEED_QUEUE_SIZE | default(10) }},
  "speed-limit-down": {{ ENV.TRANSMISSION__SPEED_LIMIT_DOWN | default(100) }},
  "speed-limit-down-enabled": {{ ENV.TRANSMISSION__SPEED_LIMIT_DOWN_ENABLED | default(false) }},
  "speed-limit-up": {{ ENV.TRANSMISSION__SPEED_LIMIT_UP | default(100) }},
  "speed-limit-up-enabled": {{ ENV.TRANSMISSION__SPEED_LIMIT_UP_ENABLED | default(false) }},
  "start-added-torrents": {{ ENV.TRANSMISSION__START_ADDED_TORRENTS | default(true) }},
  "tcp-enabled": {{ ENV.TRANSMISSION__TCP_ENABLED | default(true) }},
  "torrent-added-verify-mode": {{ ENV.TRANSMISSION__TORRENT_ADDED_VERIFY_MODE | default('fast') }},
  "trash-original-torrent-files": {{ ENV.TRANSMISSION__TRASH_ORIGINAL_TORRENT_FILES | default(false) }},
  "umask": {{ ENV.TRANSMISSION__UMASK | default(002) }},
  "upload-slots-per-torrent": {{ ENV.TRANSMISSION__UPLOAD_SLOTS_PER_TORRENT | default(14) }},
  "utp-enabled": {{ ENV.TRANSMISSION__UTP_ENABLED | default(true) }},
  "watch-dir": {{ ENV.TRANSMISSION__WATCH_DIR | default('/watch') }},
  "watch-dir-enabled": {{ ENV.TRANSMISSION__WATCH_DIR_ENABLED | default(false) }},
  "watch-dir-force-generic": {{ ENV.TRANSMISSION__WATCH_FORCE_GENERIC | default(false) }}
}
