[frontend]
username = "{{ ENV.BETANIN_USERNAME }}"
password = "{{ ENV.BETANIN_PASSWORD }}"
[clients]
api_key = "{{ ENV.BETANIN_API_KEY }}"
[server]
num_parallel_jobs = 1
[notifications.services]
[notifications.strings]
title = "Music Imported"
body = "$name"
